<%- include('./partials/layout-start', { title: 'Страница не найдена!', link: link }) %>
<%- include('./partials/menu') %>
<div class="container">
  <div class="row">
    <a href="/books">Вернуться к списку</ф>
  </div>
</div>
<%- include('./partials/layout-end') %>
